/* Comment */

.parent .child .title {
  color: red;
}

.parent .title {
  color: blue;
}

.title,
.parent p {
  color: green;
}

.text-title {
  max-width: 400px;
  padding: 20px;
  background-color: red;
  color: white;
  margin-bottom: 20px;
  max-height: 40px;
  overflow: hidden;
}
